{% extends 'base.html.twig' %}

{% block title %}Edit Playlist{% endblock %}

{% block body %}
    <h1>Edition de la Playlist</h1>

    {{ include('playlist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('playlist_show', {'id': playlist.id}) }}">Retour à la playlist</a>

    {{ include('playlist/_delete_form.html.twig') }}
{% endblock %}
